{% extends 'base.html.twig' %}

{% block title %}Test Application!{% endblock %}

{% block body %}

<main>
    <form id="newUser">
        <h1>User Form</h1>
        <label for="f_name">First Name:</label>
        <input type="text" id="f_name" name="f_name" required>

        <label for="l_name">Last Name:</label>
        <input type="text" id="l_name" name="l_name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <button id="submit" type="submit">Submit</button>
        <a href="{{ path('logs') }}">View Logs</a>
        <a class="readme" href="{{ path('readme') }}">Read Me!</a>
    </form>
</main>
{% endblock %}
